/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.progress-steps {
  position: relative;
  display: flex;
  justify-content: space-between; /* Để các bước có khoảng cách đều nhau */
  align-items: center; /* Canh giữa các vòng tròn theo chiều dọc */
  margin-bottom: px;
  width: 100%; /* Để đường kẻ chạy hết chiều ngang giao diện */
}

.circle {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #10172B;
  color: white;
  font-size: 25px;
  line-height: 50px;
  border-radius: 50%;
  margin-bottom: 10px;
  font-weight: bold;
  z-index: 1; /* Đảm bảo vòng tròn nằm trên đường kẻ */
}

.circle.active {
  background-color: #FEA115; /* Màu cam cho bước hiện tại */
  color: white;
}

.circle.completed {
  background-color: #666565; /* Màu xám cho bước đã hoàn thành */
  color: white;
}

.step p {
  font-size: 20px;
  font-weight: 500;
  color: #FEA115;
}


.step:not(:first-child)::before {
  position: absolute;
  top: 50%; /* Canh giữa đường nối với các vòng tròn */
  left: -50%;
  width: 100%;
  height: 1px;
  background-color: #FEA115; /* Màu vàng cho đường nối giữa các bước */
  z-index: -1;
}